#mod-crazybuy{width: 100%;height:15.75rem;overflow-y: auto;font-size:0.1875rem;background-color: #efefef;}
#mod-crazybuy #header h2{height: 1.421875rem;font-size: 0.40625rem;line-height:1.421875rem;background-color: #f9fafd;margin-bottom: 0.03125rem }
#mod-crazybuy #header h2 span:first-of-type{font-weight: normal;font-size: 0.609375rem;color: #9b9b9b;display: inline-block;margin-right: 2.96875rem;margin-left: 0.625rem;}
#mod-crazybuy #header h2 span:last-of-type{float: right;margin-right: 0.25rem;}
#mod-crazybuy #header h2 span:last-of-type img{width:0.640625rem;height: 0.640625rem; }
#mod-crazybuy #banner img{width: 100%;height: 4.296875rem;}
#mod-crazybuy #hours ul{display: flex;height: 2.203125rem;}
#mod-crazybuy #hours ul li{width: 2.484375rem; ;background-color: #272c2a;border-right: 2px solid #fff;border-bottom: 2px solid #fff;}
#mod-crazybuy #hours ul li:last-of-type{background-color: #fdd000;border-right: none;}
#mod-crazybuy #hours ul li:last-of-type p{color: #272c2a;}
#mod-crazybuy #hours ul li p {font-size: 0.34375rem;color: #fff;text-align: center;}
#mod-crazybuy #hours ul li p:first-of-type{margin-top: 0.28125rem;margin-bottom: 0.15625rem;}
#mod-crazybuy #hours ul li p img{width: 0.453125rem;height: 0.421875rem;margin-top: 0.171875rem;}
#mod-crazybuy #end_time ul{height:1.265625rem;display: flex; }
#mod-crazybuy #end_time ul li:first-of-type{width: 4.3125rem;height: 100%;background-color: #fdd000;}
#mod-crazybuy #end_time ul li:first-of-type p{font-size: 0.375rem;margin-top: 0.125rem;margin-left: 0.65625rem;font-weight: bold;}
#mod-crazybuy #end_time ul li:last-of-type{width:5.671875rem;height: 100%; background-color: #f2f2f2;}
#mod-crazybuy #end_time ul li:last-of-type p{width: 3.5625rem;height: 0.875rem;background-color:#272c2a; border-radius: 0.328125rem;font-size: 0.40625rem;color: #fff;text-align: center;line-height:  0.875rem;margin-left: 1.796875rem;margin-top: 0.1875rem;}

#mod-crazybuy #main ul{display: flex;flex-wrap:wrap;}
#mod-crazybuy #main ul li{height: 4.734375rem;background-color: #fff;width: 100%;margin-bottom: 0.1875rem;border-bottom: 2px dashed #efefef;}
#mod-crazybuy #main ul li div{width: 4.5rem;height: 100%;border-right: 2px solid #eeeeee;float: left;padding-top: 0.703125rem;padding-left: 0.46875rem;}
#mod-crazybuy #main ul li div img{width:3.90625rem;height: 3.5rem; }
#mod-crazybuy #main ul li p:first-of-type{width: 3.625rem;height: 0.765625rem;font-size: 0.40625rem;margin-left: 5.0rem;font-weight: bold;margin-top: 0.390625rem;margin-bottom:0.40625rem;line-height: 0.765625rem; }
#mod-crazybuy #main ul li p:nth-of-type(2),#mod-crazybuy #main ul li p:nth-of-type(3){margin-left: 5.0rem;margin-top: 0.78125rem}
#mod-crazybuy #main ul li p:nth-of-type(2) span:first-of-type{font-size: 0.578125rem;color: #f00;font-weight: bold;}
#mod-crazybuy #main ul li p:nth-of-type(2) span:last-of-type{font-size: 0.359375rem;color: #9b9a9b;}
#mod-crazybuy #main ul li p:nth-of-type(3){width: 3.5rem;height: 0.9375rem;background-color: #f00;color: #fff;font-size: 0.40625rem;text-align: center;line-height: 0.9375rem;border-radius: 0.390625rem;margin-top:0.453125rem; }
#mod-crazybuy #main>span {display:block;position: fixed;bottom: 1.203125rem;right: 0.171875rem;}
#mod-crazybuy #main>span img{width: 1.90625rem;height: 1.90625rem;}